/*$breakpoints: (
  'xs': 575px,
  'sm': 576px,
  'med': 768px,
  'lg': 992px
);*/
* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

body {
  /*color: $color-text;*/
  font-size: 1rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1,
h2,
h6 {
  margin: 0;
  font-size: 1rem;
  color: #333;
  font-weight: 600;
}

h6 {
  font-size: 0.8125rem;
  margin-bottom: 7px;
}

hr {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  margin-top: 1.95rem;
}

p {
  margin-bottom: 1.25em;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  height: 100%;
}
a:hover {
  /*color: $color-secondary; */
}

img {
  display: block;
}

#header {
  height: 59px;
  background: white;
  position: relative;
  z-index: 1000;
}
#header .l-header-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 15px;
  position: fixed;
  background: white;
}

#l-main-container {
  display: flex;
  position: relative;
  z-index: 1;
}
#l-main-container .l-main-nav {
  width: 90px;
}

#l-main-content {
  width: calc(100% - 90px);
}

.l-main-sections {
  padding: 17px;
  background: #fafafa;
}
.l-main-sections .section-categories {
  position: relative;
}

#footer {
  background: #e9ecef;
  padding: 15px 0;
}

.l-card-containers {
  overflow-x: hidden;
}
.l-card-containers ul {
  /*  width: 800%;*/
  display: flex;
  position: relative;
  transition: transform 0.5s;
}
.l-card-containers ul li {
  width: 100%;
  margin: 5px;
}

.noTransition {
  transition: none !important;
}

.btn {
  cursor: pointer;
}

.btn-search {
  padding: 9px 11px;
  background-image: linear-gradient(180deg, #7d7d7d 1%, #343a40 15%);
  color: white;
  border: none;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
.btn-search i {
  font-size: 1rem;
}

.btn-subscribe {
  font-size: 0.75rem;
  color: #ff516b;
  border: 1px solid #ff516b;
  border-radius: 3px;
  padding: 6px 16px;
  transition: color 0.25s;
  margin: 3px 0 6px 0;
  box-shadow: 0 0 11px #ececec;
}
.btn-subscribe:hover {
  background: linear-gradient(135deg, #ff253a 0%, #ff8453 100%);
  color: white;
}

.icn-t1 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.75rem;
  padding: 23px 10px;
  position: relative;
}
.icn-t1:hover {
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.icn-t2 i {
  padding: 4px;
  width: 21px;
  text-align: center;
  color: #ff516b;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 6px #ececec;
  font-size: 0.8125rem;
}

.icn-t3 i {
  color: #4EDA92;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 6px #ececec;
  font-size: 0.8125rem;
}

.icn-t4 i {
  color: rgba(255, 255, 255, 0.65);
  opacity: 0;
  transition: transform 0.5s, opacity 0.25s;
}
.dark:hover .icn-t4 i {
  transform: scale(2.5);
  opacity: 1;
}

.icn-menu {
  color: #9ba8aa;
  margin: 0 0 0 13px;
}

.icn-arrow {
  padding: 9px 12px;
  position: absolute;
  top: 96px;
  background: #dbdbdb;
  transition: background 0.25s;
  border-radius: 50%;
  color: white;
  font-size: 0.8125rem;
  cursor: pointer;
}
.icn-arrow-left {
  left: 2%;
}
.icn-arrow-right {
  right: 2%;
}

.sort {
  font-size: 0.8125rem;
  color: #ff516b;
}
.sort:hover, .sort:hover i {
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.img-logo {
  background-image: url("../img/logo/logo.png");
  background-repeat: no-repeat;
  width: 88px;
  height: 29px;
  margin-right: auto;
}

.img-app {
  height: 38px;
  margin: 0 2px;
}

.thmb {
  border-radius: 50%;
  width: 66px;
  height: 66px;
  background-size: cover;
}
.thmb:hover {
  cursor: pointer;
}

.section-categories [class*=thmb-s] {
  transition: transform 0.25s;
  margin-bottom: 8px;
}

.section-popular [class*=thmb-s] {
  width: 80px;
  height: 80px;
  background-size: cover;
  margin-bottom: 8px;
}
.section-popular [class*=thmb-s]:hover {
  cursor: pointer;
}

.thmb-account {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-image: url("../img/thumbnails/s9.png");
  margin-left: 7px;
}
.thmb-account:hover {
  cursor: pointer;
}

.thmb-s1 {
  background-image: url("../img/thumbnails/s1.png");
}

.thmb-s2 {
  background-image: url("../img/thumbnails/s2.png");
}

.thmb-s3 {
  background-image: url("../img/thumbnails/s3.png");
}

.thmb-s4 {
  background-image: url("../img/thumbnails/s4.png");
}

.thmb-s5 {
  background-image: url("../img/thumbnails/s5.png");
}

.thmb-s6 {
  background-image: url("../img/thumbnails/s6.png");
}

.thmb-s7 {
  background-image: url("../img/thumbnails/s7.png");
}

.thmb-s8 {
  background-image: url("../img/thumbnails/s8.png");
}

.badge {
  padding: 1px 4px;
  font-size: 0.6rem;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  position: absolute;
  z-index: 10;
}

.badge-red {
  background-image: linear-gradient(135deg, #ff253a 0%, #ff8453 100%);
}

.badge-green {
  background-image: linear-gradient(135deg, #4eda92 1%, #56e0cb 100%);
}

.badge-items {
  top: 14px;
  left: 13px;
}

.badge-timer {
  bottom: 8px;
  right: 7px;
  font-size: 0.6875rem;
  opacity: 0.75;
}
a:hover .badge-timer {
  opacity: 1;
}

.main-nav {
  background-image: linear-gradient(135deg, #ff516b 0%, #826cfd 100%);
  color: white;
  text-align: center;
  width: 90px;
  height: calc(100vh - 58px);
  position: fixed;
}
.main-nav ul li > a {
  display: flex;
  padding: 14px 0;
  flex-direction: column;
  align-items: center;
}
.main-nav ul li > a i {
  font-size: 0.9rem;
}
.main-nav ul li > a span {
  font-size: 0.65rem;
  font-weight: bold;
}
.main-nav ul li > a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.75);
}
.main-nav li:first-child > a {
  background: rgba(255, 255, 255, 0.2);
}
.main-nav li:first-child > a:hover {
  color: rgba(255, 255, 255, 0.75);
}

.form {
  display: flex;
  width: 100%;
}

.form-search-bar > input {
  width: 100%;
  background: #eceff0;
  outline: none;
  border: none;
  padding-left: 15px;
  border-top: 1px solid #9ba8aa;
  border-bottom: 1px solid #9ba8aa;
  font-size: 0.8rem;
}
.form-search-bar > input:focus {
  background: white;
  border: 1px solid #80bdff;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  margin-bottom: 13px;
}

.card {
  background: white;
  box-shadow: 0 0 6px #ececec;
  display: flex;
  justify-content: center;
  padding: 23px 11px;
  margin-bottom: 30px;
  border-radius: 4px;
  position: relative;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-container:hover, .card-container:hover .channel-views {
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.card .channel-name {
  margin-top: 5px;
  font-weight: bold;
}

.channel-views {
  color: #ff516b;
  font-size: 0.6875rem;
}

.channel-subs {
  color: #acacac;
  font-size: 0.6875rem;
}

.section-popular .card::after {
  background: #ececec;
  border-radius: 0 0 5px 6px;
  bottom: -4px;
  content: "";
  height: 4px;
  left: 15px;
  position: absolute;
  right: 15px;
}
.section-popular .card:hover::after {
  background: #acacac;
}

.video {
  box-shadow: 0 0 11px #ececec;
  margin-bottom: 30px;
}
.video a {
  position: relative;
  width: 100%;
  margin-bottom: -2px;
}
.video-container {
  width: 100%;
}
.video .info-container {
  background: white;
  padding: 12px;
}
.video-name:hover {
  color: #ff516b;
}
.video-tag {
  font-size: 0.6875rem;
  color: #4EDA92;
  margin-bottom: 5px;
}
.video-stats {
  font-size: 0.6875rem;
  color: #acacac;
}

.dark {
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
}
a:hover .dark {
  opacity: 1;
}

.footer-apps {
  display: flex;
  justify-content: center;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #888;
  font-size: 0.8125rem;
}
.footer-info i,
.footer-info #author {
  color: #ff516b;
}
.footer-info span {
  color: black;
}
.footer-info .footer-author {
  margin: 7px 0;
}

/*# sourceMappingURL=style.css.map */
