// ======================================
//  Card Styles
// ======================================

.card {
  display: flex;
  flex-direction: column;
  padding: 1.5em 1em;
  border: 1px solid $color-shade;
  border-radius: 0.25em;
  margin: $gutter;
  z-index: 100;
  h1 {
    color: $color-primary;
    margin: 0.35em 0 0;
    line-height: 1.25;
  }
  @include mq('sm') {
    flex: 1 per-line(2);
  }
  @include mq('lg') {
    flex: 1 per-line(3);
  }
}




