// ======================================
//  Layout Container Styles
// ======================================

// Header Layout

#header {
  height: 59px;
  background: $header-bg-color;
  position: relative;
  z-index: 1000;
  .l-header-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 15px;
    position: fixed;
    background: $white-pure;
  }
}

// Main Section Layout

#l-main-container {
  display: flex;
  position: relative;
  z-index: 1;

  .l-main-nav {
    width: 90px;
  }

}

#l-main-content {
  width: calc(100% - 90px);
}

.l-main-sections {
  padding: 17px;
  background: $main-sections-bg-color;

  //Channel Categories Display
  .section-categories li:not(:first-of-type) {
    // display: none;
  }

  //Relative Positioning for Categories' Arrows
  .section-categories {
    position: relative;
  }
}

// Footer Layout

#footer {
  background: $footer-bg-color;
  padding: 15px 0;
}


//@@@@@@@CAROUSEL EXPERIMENT

.l-card-containers {
  
  overflow-x: hidden;
  ul {
  /*  width: 800%;*/
    display: flex;
    position: relative;

    transition: transform 0.5s;
    li {
     width: 100%;
     margin: 5px;
    }
  }

}

.noTransition {
  transition: none !important; 
}

