// ======================================
//  Layout Container Styles
// ======================================

.l-sections {

  //Elements
  @include element(button) {
    @include posity(fixed, 99);
    @include abspos(null, 15px, 86px, null);
      opacity: 0;
      transition: opacity 0.5s;
  }

  @media(min-width: map-get($breakpoints, 'xl')) {
    padding: 30px;
  }

  > a {
    position: absolute;
  }
  
  //Relative Positioning for Categories' Arrows
  .section--categories {
    position: relative;
  }

  .section--featured,
  .section--popular {
    margin-top: 20px;
  }

  .section--video {
    width: 100%;
    @include posity(relative);
  }

  .section--media-info {
    margin-top: 12px;
  }

  padding: 17px;
  background: $main-sections-bg-color;

}

// Video Section

.l-badge {

  @include posity(absolute, 10);

  .video & { 
    @include abspos(null, 7px, 8px, null);
    opacity: 0.75;
  }

  // State Classes 

  .l-header & {

    @include abspos(-8px, null, null, 4px);
    @media (min-width: map-get($breakpoints, 'xl')) {
      @include abspos(-8px, null, null, 4px);
    }

  }

  .subs-nav & {

    position: static;
    margin-left: auto !important;

  }

}

// Channels Section

.channels-section {
  
  margin-bottom: -15px;

  @media(min-width: map-get($breakpoints, 'sm')) {
    margin-bottom: -15px;
    @include flexy(flex, wrap);
    @include posity(relative);
    justify-content: space-between;
  }

  @include element(item) {
    margin-bottom: 30px;
    @media(min-width: map-get($breakpoints, 'sm')) {
      width: calc(50% - 14px);
    }
    @media(min-width: map-get($breakpoints, 'xl')) {
      width: calc(25% - 22px);
      margin-bottom: 10px;
    }
  }

  // Specific pseudoelement ::after contained inside popular section;

  &--popular {

    .card::after {
      background: $white-smoke;
        border-radius: 0 0 5px 6px;
        bottom: -4px;
        content: "";
        height: 4px;
        left: 15px;
        position: absolute;
        right: 15px;
    }
    .card:hover::after {
      background: $dark-gray;
    }

  }

}

// footer container

.l-footer {
  width: 100%;
  padding: 15px 0;
  @media(min-width: map-get($breakpoints, 'sm')) {
    display: flex;
  }
}

// media-playoff video reproduction black screen

.l-media-playoff {
  // float: left;
  img {
    width: 100%;
  }
}

