// ======================================
//  Badges Styles
// ======================================

// Badges can have one or more modifiers
// depending on their functionality and color

// Block

.badge {
	
	// The following @include generates CSS for the badge colors
	@include bg-colors($badge-colors);

	padding: 1px 4px;
	font-size: 0.6rem;
	font-weight: $fweight-bold;
	border-radius: 4px;
	color: $badge-txt-color-default;

	// Modifiers

	@include modifier(timer) { font-size: 0.6875rem; }

	@include modifier(nav) { font-size: 0.625rem !important; }

	@include modifier(yellow) { color: $badge-txt-color-black; }

}









