// ======================================
//  Button Styles
// ======================================

.btn {
	cursor: pointer;
}

.btn-search {
	i {
		font-size: 1rem;
	}
	padding: 9px 11px;
	background-image: $btn-search-bg-color;
	color: $btn-search-txt-color;
	border: none;
	border-bottom: 2px solid $icn-search-brdr-color;
	border-right: 2px solid $icn-search-brdr-color;
}

.btn-subscribe {
	font-size: 0.75rem;
	color: $btn-subscribe-txt-color;
	border: 1px solid $btn-subscribe-txt-color;
	border-radius: 3px;
	padding: 6px 16px;
	transition: color 0.25s;
	margin: 3px 0 6px 0;
	box-shadow: 0 0 11px #ececec;
	&:hover {
		background: $gradient-subs-btn;
		color: $btn-subscribe-hover-text;
	}
}