// ======================================
// Component - Card Styles
// ======================================

// Blocks

.card {

	@include flexy(flex, null, null, center);
	@include posity(relative);

	background: $card-bg-color;
	box-shadow: 0 0 11px #ececec;
	padding: 20px 11px;
	border-radius: 4px;

	// Elements
	@include element(container) {

		@include flexy(flex, null, column, null, center);

	}

	@include element(text) {

		//nested modifiers
		@include modifier(carousel) { color: $card-views-txt-color; }
		@include modifier(popular) { color: $video-stats-txt-color; }

		margin-top: 2px;
		font-size: $fsize-main-text;

	}

}

// State Classes

.is-card-hovered {
	.card:hover {
		cursor: pointer;
		.card__text {
			color: rgba(0,0,0,.7);
		}
	}
}









