// ======================================
//  Footer Components Styling
// ======================================

// Block

.footer-info {

	@include flexy(flex, null, column, null, center);

	@media(min-width: map-get($breakpoints, 'sm')) {

		text-align: left;
		align-items: flex-start;
		margin: 0 15px;
		.footer-author {
			margin: 0;
		}

	}

	@media(min-width: map-get($breakpoints, 'xl')) {
		margin-left: 150px;
	}

	color: $footer-txt-color;
	font-size: $fsize-footer;
	text-align: center;

	i,
	#author {
		color: $wild-watermelon;
	}

	strong {
		color: $footer-accent-txt-color;
	}

	.footer-author {
		margin-bottom: 7px;
	}

}

// Block

.footer-apps {

	@include flexy(flex, wrap, null, center);
	
	@media(min-width: map-get($breakpoints, 'sm')) {
		@include flexy(flex, nowrap);
		margin-right: 15px;
		margin-left: auto;
	}

	@media(min-width: map-get($breakpoints, 'xl')) {
		margin-right: 150px;
	}

	// Elements

	&__android,
	&__apple {
		height: auto;
		margin-top: 5px;
	}

}

