// ======================================
//  Footer Components Styling
// ======================================

.footer-apps {
	display: flex;
	justify-content: center;
}

.footer-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $footer-txt-color;
	font-size: 0.8125rem;
	i,
	#author {
		color: $wild-watermelon;
	}
	span {
		color: $footer-accent-txt-color;
	}
	.footer-author {
		margin: 7px 0;
	}
}

