// ======================================
//  Icon Styles
// ======================================

// General Class Styling

.icn-t1 {

	color: $icn-t1-txt-color;
	font-size: $fsize-icons--t1 ;
	position: relative;
	line-height: initial;

	&:hover {
		color: rgba(0,0,0,.7);
		cursor: pointer;
	}

}

.icn-t2 i {
	line-height: icn-dim($fsize-icons--t2);
	width: icn-dim($fsize-icons--t2);
	text-align: center;
	color: $icn-t2-txt-color;
	background: $icn-dotted-bg-color;
	border-radius: 50%;
	box-shadow: 0 0 6px #ececec;
	font-size: $fsize-icons--t2;
}

.icn-t3 i {
	
	color: $video-tag-txt-color;
	background: $icn-dotted-bg-color;
	border-radius: 50%;
	box-shadow: 0 0 6px #ececec;
	font-size: $fsize-icons--t3;

}

// Specific Class Styling

.icn-notif,
.icn-dotted {
	position: relative;
}

.icn-t1--account {
	display: flex;
	align-items: center;
	img {
		border-radius: 50%;
		@include thmby (30px, 30px);
	}
	.account-name {
		display: none;
		font-size: $fsize-account--txt;
		margin-left: 7px;
		@media (min-width: map-get($breakpoints, 'xl')) {
			display: block;
		}
	}
}

.icn-t1--menu {
	font-size: $fsize-icons--account;
	color: $icn-menu-txt-color;
	margin: 0;
}

.icn-arrow {
	padding: 0;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 96px;
	background: rgb(219, 219, 219);
	color: $icn-arrows-txt-color;
	border-radius: 50%;
	font-size: $fsize-icons--t1-arrows;
	cursor: pointer;
	margin: 0 !important;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background 0.25s;
	&-left {
		left: 2%;
		@media (min-width: map-get($breakpoints, 'xl')) {
			left: -1%;
		}
	}
	&-right {
		right: 2%;
		@media (min-width: map-get($breakpoints, 'xl')) {
			right: -1%;
		}
	}
}

//Sort Component

.sort {
	
	font-size: $fsize-icons--sort;
	color: $icn-t2-txt-color;
	&:hover,
	&:hover i {
		color: rgba(0,0,0,.7);
		cursor: pointer;
	}
}

