// ======================================
//  Image Styles
// ======================================

// Block

.img {

	//Modifiers
	@include modifier(logo) {
		width: 88px;
		height: 29px;
		@media(min-width: map-get($breakpoints, 'med')) {
			margin-right: 0;
		}
	}

	@include modifier(app) {
		margin: 0 2px;
		height: 38px;
	}
}