// ======================================
//  Navigation Components
// ======================================

//---------------------------------------
// 1. Side Navigation Bar
//---------------------------------------

.main-nav {

  // Elements

  @include element(link) {

    @include flexy(flex, null, column, null, center);

    //nested modifier
    @include modifier(highlight) {
      background: $main-nav-item-hover-bg;
    }

    padding: 14px 12px;

    i {
      font-size: $fsize-nav--icons;
    }

    span {
      font-size: $fsize-nav--text;
      font-weight: $fweight-bold;
      text-align: center;
      user-select: none;
    }

  }

  // Modifiers

  @include modifier(extended) {

    .main-nav__link {

      @include flexy(flex, null, row, null, center);
      padding: 9px 14px;

      @media(min-width: map-get($breakpoints, 'xl')) {
        padding: 13px 14px !important;
      }

      .fa-chevron-right {
        margin-left: auto;
        font-size: $fsize-extnav--chevron;
      }

      i {
        font-size: $fsize-extnav--icons;
      }

      span {
        margin-left: 14px;
        font-size: $fsize-extnav--txt;
      }

    }

  }

}

//---------------------------------------
// 2. Subscriptions Side Bar
//---------------------------------------

// Extended Subscription Nav Styling

.subs-nav {

  // Elements

  @include element(container) {

    .subs-item__link {
      @include flexy(flex, nowrap, null, null, center);
      padding: 6px 14px !important;
    }

    img {
      border-radius: 50%;
      width: 28px;
      height: 28px;
      user-select: none;
    }

    span {
      user-select: none;
      margin-left: 17px;
      font-size: $fsize-extnav--txt;
    }

  }

  @include element(divider) {
      margin-top: 5px;
      border: 1px solid rgb(255, 81, 107);
  }

}

//---------------------------------------
// 3. State Classes
//---------------------------------------

// State classes

.is-nav-hovered .main-nav__item:not(:first-of-type):hover {
  background: $main-nav-item-hover-bg;
  color: $main-nav-item-hover-text;
}

.is-subs-hovered .subs-item__link:hover {
  color: $main-nav-item-hover-text;
}