// ======================================
//  Navigation Components
// ======================================

.main-nav {
  background-image: $main-nav-bg-color;
  color: $main-nav-txt-color;
  text-align: center;
  width: 90px;
  height: calc(100vh - 58px);
  position: fixed;

  ul li > a {
    display: flex;
    padding: 14px 0;
    flex-direction: column;
    align-items: center;
    i {
      font-size: 0.9rem;
    }
    span {
      font-size: 0.65rem;
      font-weight: bold;
    }
    &:hover {
      background: $main-nav-item-hover-bg;
      color: $main-nav-item-hover-text;
    }
  }

  li:first-child > a{ 
    background: $main-nav-item-hover-bg;
    &:hover {
      color: $main-nav-item-hover-text;
    }
  }

}