// ======================================
// Search Bar Styling
// ======================================

.form {
	display: flex;
	width: 100%;
}

.form-search-bar > input {
	width: 100%;
	background: $searchbar-bg-color;
	outline: none;
	border: none;
	padding-left: 15px;
	border-top: 1px solid $nav-brdr-color;
	border-bottom: 1px solid $nav-brdr-color;
	font-size: 0.8rem;
	&:focus {
		background: $c-white;
		border: 1px solid #80bdff;
	}
}