// ======================================
//  Thumbnails Styles
// ======================================

.thmb {
	border-radius: 50%;
}

.thmb-account {
	background-image: url('#{$thumbnails-path}/s9.png');
	width: 30px;
	height: 30px;
	background-size: cover;
	margin-left: 7px;
	&:hover {
		cursor: pointer;
	}
}