// ======================================
//  Thumbnails Styles
// ======================================

// General Styling

.thmb {
	border-radius: 50%;
	margin-bottom: 12px;
	@include thmby (60px, 60px);
}

// Styling according to their location

.section--categories .thmb {
	transition: transform 0.25s;
}

.section--popular .thmb {
	@include thmby (80px, 80px);
}

// The following generates images according to the
// Modifier... eg thmb--s1, thmb--s2, etc...

@each $s-number, $thmb-path in $thmb-img-path {
	.thmb--#{$s-number} {
		background-image: url('#{$thmb-path}.png');
	}
}

