// ======================================
//  Thumbnails Styles
// ======================================

// General Styling

.thmb {
	border-radius: 50%;
}

[class*="thmb-s"] {
	@include thmby (66px, 66px);
	margin-bottom: 8px;
	transition: transform 0.25s;
}

// Specific styling

.thmb-account {
	@include thmby (30px, 30px);
	background-image: url('#{$thumbnails-path}/s9.png');
	margin-left: 7px;
}

@each $s-number, $thmb-path in $thmb-img-path {
	.thmb-#{$s-number} {
		background-image: url('#{$thmb-path}.png');
	}
}

