// ======================================
//  Titles Components
// ======================================

// Block

.title {

	margin-bottom: 13px;

  // Elements

  @include element(heading) {

  	//nested modifier
  	@include modifier(subscriptions) {

   	  user-select: none;
    	font-size: $fsize-extnav--title-subs;
    	margin: 0px;
    	color: $main-nav-txt-color;

    }

    @include modifier(media){

     font-size: $fsize-secondary--headings;
     font-weight: $fweight-high;
     @media(min-width: map-get($breakpoints, 'lg')) {
       font-size: $fsize-main--headings;
     }

    }

  }

  // Modifiers

  $title-sections: ('categories', 'popular', 'featured', 'video', 'media');

  @each $title in $title-sections {

  	@include modifier($title) {

  		@include flexy(flex, null, null, space-between, center);
    	@include posity(relative);

  	}

  }

  @include modifier(channel) { margin-bottom: 0px; } 
  @include modifier(subscriptions) { margin: 15px; }
  @include modifier(video) { margin-bottom: 0px; }

}

// Isolated Component: sort class, which is the text and icon
// Located to the right of the main titles of each section;

// Block

.sort {
  
  font-size: $fsize-icons--sort;
  color: $icn-t2-txt-color;
  &:hover,
  &:hover i {
    color: rgba(0,0,0,.7);
    cursor: pointer;
  }
}