// ======================================
//  Base Styles
// ======================================

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

body {
  font-size: $base__font-size;
  line-height: ($base__line/$base__font-size);
  font-family: $font-family--primary;
  margin: 0;
}

h1,
h2,
h3,
h6 {
  margin: 0;
  font-size: $fsize-main--headings;
  color: $headings-txt-color;
  font-weight: $fweight-bold;
}

h6 {
  font-size: $fsize-secondary--headings;
}

hr {

  border: 0.5px solid rgba(0,0,0,.1);
  margin: 0;

}

p {
  margin-bottom: 1.25em;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    /*color: $color-secondary; */ 
  }
  display: inline-block;
  height: 100%;
}

img {
  display: block;
}